.m-add-ingridient {
    padding: 80px 0;

    @media(min-width: $screen-sm) {
        padding: 80px 0;
    }

    .top-bar {
        border-bottom: 1px solid $color-pale-gray;
        padding-bottom: 14px;

        &__title {
            font-size: $font-size-sm;
            font-weight: bold;
            margin: 0 0 5px;
        }

        &__btn-return {
            font-size: $font-size-xs;
            padding-left: 20px;
            position: relative;

            &::before {
                content: "\e90d";
                font-family: 'makro-icons';
                font-size: $font-size-xs;
                line-height: .8;
                color: $color-cool-gray;
                position: absolute;
                top: 4px;
                left: 0;
            }
        }

        &__nav-buttons {
            text-align: right;
            margin-top: 10px;

            @media(max-width: $screen-xs-max) {
                position: absolute;
                top: -52px;
                right: 15px;
            }

            &-item {
                display: inline-block;
            }

            .btn-options {
                padding: 3px 10px 5px 15px;

                &::after {
                    content: '\e932';
                    font-family: 'makro-icons';
                    font-size: .9rem;
                    margin-left: 5px;
                    transform: rotate(-180deg);
                    display: inline-block;
                }
            }
        }
    }

    .form {
        margin-top: 50px;

        &__fieldset {
            margin-top: 50px;
        }

        &__field {
            margin-bottom: 25px;
        }

        &__select {
            background: $color-white;

            &:focus,
            &:hover {
                background: $color-pale-gray;
            }

            @media(max-width: $screen-sm-max) {
                margin-bottom: 25px;
                width: 85%;
            }
        }

        &__label {
            display: inline-block;

            @media(max-width: $screen-lg) {
                display: block;
            }
        }

        &__legend {
            font-weight: bold;
            border: none;
            font-size: $font-size-sm;
        }

        &__optional {
            color: $color-cool-gray;
            font-size: $font-size-xs - 2;
            text-transform: lowercase;
            font-weight: normal;
            margin-left: 10px;
        }

        &__input {
            &--quantity {
                width: 65%;
                margin-right: 10px;
            }

            &--energy {
                width: 89%;
                margin-right: 10px;

                @media(max-width: $screen-xs-max) {
                    width: 65%;
                }

                @media(min-width: $screen-sm) and (max-width: $screen-lg) {
                    width: 85%;
                }
            }

            &--macro {
                width: 76%;
                margin-right: 10px;

                @media(max-width: $screen-lg) {
                    width: 65%;
                }
            }
        }

        &__btn-remove {
            display: block;
            margin-top: 5px;

            @media(max-width: $screen-sm-max) {
                position: absolute;
                top: -105px;
                right: 25px;
            }
        }

        &__btn-add-unit {
            display: block;
            position: relative;
            text-align: left;
            margin-top: 20px;

            @media(max-width: $screen-sm-max) {
                span {
                    position: absolute;
                    top: 17px;
                    left: 50px;
                }
            }

            @media(min-width: $screen-sm) {
                padding: 15px 0 0 50px;
            }

            &::before {
                content: "\e996";
                font-family: 'makro-icons';
                background: $color-black;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                display: block;
                color: $color-white;
                font-size: 1.5rem;
                margin: 10px auto;

                @media(max-width: $screen-xs-max) {
                    display: inline-block;
                }

                @media(min-width: $screen-sm) {
                    text-align: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }

        .btn-tooltip {
            margin-left: 5px;
            font-size: $font-size-xs;

            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
    }

}
