.m-recipe {
    .title-bar {
        display: none;

        @media(min-width: $screen-sm) {
            position: fixed;
            top: -100px;
            left: 0;
            background: $color-black;
            z-index: 2;
            width: 100%;
            color: $color-white;
            transition: top .2s;
            display: block;
        }

        &.visible {
            top: 0;
        }

        &__title {
            font-family: mulisemibold;
            line-height: 4.5;
            margin: 0 0 0 35px;
            text-transform: uppercase;
        }

        & .macro {
            margin: 7px 0 0 0;

            &__icon {
                display: none;
            }

            &__col {
                strong {
                    display: block;
                }

                &--label {
                    display: none;
                }
            }

            &__unit {
                display: block;
            }
        }
    }
}
