// Font families
$base-font-family: muliregular;

// Base font size
$base-font-size: 14px;
$base-line-height: 1.6;

$font-size-xs: $base-font-size;
$font-size-sm: 16px;
$font-size-md: 20px;
$font-size-xxl: 44px;

// Font sizes

// Colors
$color-black: #000;
$color-white: #fff;
$color-cool-gray: #9898a0;
$color-pale-gray: #e2e3e7;
$color-red: #d0011b;

$color-text: $color-black;
