// Font families
$base-font-family: Arial;

// Base font size
$base-font-size: 14px;
$base-line-height: 1.6;

// Font sizes

// Colors
$color-black: #000;
$color-white: #fff;

$color-text: $color-black;
