<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Makro Przepisy - Add ingridient</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" media="all" type="text/css" href="css/styles.css">
  </head>
  <body>
    <!-- partial:modules/_navbar.html -->NAVBAR<!-- partial -->
    <main>
        <!-- partial:modules/_add_ingridient.html -->ADD INGRIDIENT<!-- partial -->
    </main>
    <!-- partial:modules/_footer.html -->FOOTER<!-- partial -->
    <script src="scripts/bundle.js"></script>
  </body>
</html>
