<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Makro Przepisy - 500</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" media="all" type="text/css" href="css/styles.css">
  </head>
  <body>
    <!-- partial:modules/_navbar.html -->NAVBAR<!-- partial -->
    <main>
        <article class="m-error">
            <div class="container">
                <img src="images/error/500.svg" class="m-error__heading-image">

                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h1 class="page-title">Chudy byk! Wewnętrzny błąd serwera.</h1>
                        <p class="m-error__text">Serwer napotkał niespodziewane trudności ale czuwamy! To nie powinno potrwać długo.</p>
                        <a href="" class="m-error__link">Odśwież stronę</a>
                    </div>
                </dv>
        </article>
    </main>
    <script src="scripts/bundle.js"></script>
  </body>
</html>
