<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Makro Przepisy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" media="all" type="text/css" href="assets/stylesheets/styles.css">
  </head>
  <body>
    <!-- partial:modules/_navbar.html -->NAVBAR<!-- partial -->
    <!-- partial:modules/_header.html -->HEADER<!-- partial -->
    <main>
        <!-- partial:modules/_tags.html -->TAGS<!-- partial -->
        <!-- partial:modules/_home.html -->HOME<!-- partial -->
    </main>
    <!-- partial:modules/_footer.html -->FOOTER<!-- partial -->
    <script src="assets/scripts/bundle.js"></scripts>
  </body>
</html>
