<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Makro Przepisy - Recipe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" media="all" type="text/css" href="css/styles.css">
  </head>
  <body>
    <!-- partial:modules/_navbar.html -->NAVBAR<!-- partial -->
    <main>
        <!-- partial:modules/_recipe.html -->RECIPE<!-- partial -->
    </main>
    <!-- partial:modules/_footer.html -->FOOTER<!-- partial -->
    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>
    <script src="scripts/bundle.js"></script>
  </body>
</html>
