<article class="m-contact">
    <div class="container">
        <img class="m-contact__logo" src="images/logo/logo-symbol-black.svg" alt="Makro Składniki - logo">

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <p class="m-contact__text">Wiadomość została wysłana, dziękujemy!</p>
                <p class="m-contact__text">Postaramy się odpowiedzieć jak najszybciej. Odpowiedź wyślemy na adres <span class="m-contact__user-email">loremipsum@o2.pl</span>.</p>

                <img src="images/contact/drink.png" class="m-contact__img">
            </div>
        </div>

    </div>
</article>
