<footer class="m-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-2">
                <h3 class="m-footer__group-title">Przepisy</h3>
                <ul class="m-footer__list">
                    <li class="list__item"><a href="" title="">Wszystkie</a></li>
                    <li class="list__item"><a href="" title="">Top10</a></li>
                    <li class="list__item"><a href="" title="">Filmy</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2">
                <h3 class="m-footer__group-title">Moja przestrzeń</h3>
                <ul class="m-footer__list list">
                    <li class="list__item"><a href="" title="">Dodaj przepis</a></li>
                    <li class="list__item"><a href="" title="">Zarejestruj</a></li>
                    <li class="list__item"><a href="" title="">Zaloguj</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2">
                <h3 class="m-footer__group-title">Makro przepisy</h3>
                <ul class="m-footer__list list">
                    <li class="list__item"><a href="" title="">Kontakt</a></li>
                    <li class="list__item"><a href="" title="">Regulamin i polityka prywatności</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2 col-sm-offset-4">
                <h3 class="m-footer__group-title">Makro Przepisy</h3>
                <ul class="m-footer__list list list--copyright">
                    <li class="list__item">&copy; Copyright 2017</li>
                    <li class="list__item"><a href="" title="">www.makroprzepisy.pl</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
