<header class="m-header">
    <div class="m-header__content">
        <h1 class="m-header__title">Poznaj makroskładniki<br>i kalorie potraw</h1>

        <form class="m-header__search search" action="" method="get">
            <fieldset class="search__wrapper">
                <input class="search__keyword" type="text" name="keyword" placeholder="Np. dieta wysokobiałkowa">
                <button class="search__btn-submit"type="submit" name="submit">Wyszukaj</button>
            </fieldset>
        </form>
    </div>
</header>
