<section class="m-recipes">
    <div class="container">
        <ul class="m-recipes__list">
            <!-- ITEM -->
            <li class="m-recipes__item recipe">
                <a class="recipe__link" href="" title="Przejdź do przepisu">
                    <div class="recipe__image-wrapper">
                        <img class="recipe__image" src="images/tmp/recipe-1.jpg" alt="Bułeczki drożdżowe  z rodzynkami i żurawiną">
                        <div class="recipe__overlay overlay">
                            <div class="overlay__macro overlay__macro--carbo">
                                <img src="images/icons/icon-carbo-white.svg" alt="Węglowodany" class="macro__icon"><span class="overlay__name">20g węgli</span>
                            </div>
                            <div class="overlay__macro overlay__macro--protein">
                                <img src="images/icons/icon-protein-white.svg" alt="Białka" class="macro__icon"><span class="overlay__name">522g białka</span>
                            </div>
                            <div class="overlay__macro overlay__macro--fat">
                                <img src="images/icons/icon-fat-white.svg" alt="Tłuszcze" class="macro__icon"><span class="overlay__name">4g tłuszczu</span>
                            </div>
                        </div>
                    </div>
                    <h3 class="recipe__title">Bułeczki drożdżowe  z rodzynkami i żurawiną</h3>
                    <div class="kcal">
                        <span class="kcal__icon">kcal</span>
                        <span class="kcal__number">400</span>
                    </div>
                </a>
            </li>

            <!-- ITEM -->
            <li class="m-recipes__item recipe">
                <a class="recipe__link" href="" title="Przejdź do przepisu">
                    <div class="recipe__image-wrapper">
                        <img class="recipe__image" src="images/tmp/recipe-2.jpg" alt="Bułeczki drożdżowe  z rodzynkami i żurawiną">
                        <div class="recipe__overlay overlay">
                            <div class="overlay__macro overlay__macro--carbo">
                                <img src="images/icons/icon-carbo-white.svg" alt="Węglowodany" class="macro__icon"><span class="overlay__name">20g węgli</span>
                            </div>
                            <div class="overlay__macro overlay__macro--protein">
                                <img src="images/icons/icon-protein-white.svg" alt="Białka" class="macro__icon"><span class="overlay__name">522g białka</span>
                            </div>
                            <div class="overlay__macro overlay__macro--fat">
                                <img src="images/icons/icon-fat-white.svg" alt="Tłuszcze" class="macro__icon"><span class="overlay__name">4g tłuszczu</span>
                            </div>
                        </div>
                    </div>
                    <h3 class="recipe__title">Pizza na cieście bezglutenowym</h3>
                    <div class="kcal">
                        <span class="kcal__icon">kcal</span>
                        <span class="kcal__number">400</span>
                    </div>
                </a>
            </li>

            <!-- ITEM -->
            <li class="m-recipes__item recipe">
                <a class="recipe__link" href="" title="Przejdź do przepisu">
                    <div class="recipe__image-wrapper">
                        <img class="recipe__image" src="images/tmp/recipe-3.jpg" alt="Bułeczki drożdżowe  z rodzynkami i żurawiną">
                        <div class="recipe__overlay overlay">
                            <div class="overlay__macro overlay__macro--carbo">
                                <img src="images/icons/icon-carbo-white.svg" alt="Węglowodany" class="macro__icon"><span class="overlay__name">20g węgli</span>
                            </div>
                            <div class="overlay__macro overlay__macro--protein">
                                <img src="images/icons/icon-protein-white.svg" alt="Białka" class="macro__icon"><span class="overlay__name">522g białka</span>
                            </div>
                            <div class="overlay__macro overlay__macro--fat">
                                <img src="images/icons/icon-fat-white.svg" alt="Tłuszcze" class="macro__icon"><span class="overlay__name">4g tłuszczu</span>
                            </div>
                        </div>
                    </div>
                    <h3 class="recipe__title">Bułeczki drożdżowe  z rodzynkami i żurawiną</h3>
                    <div class="kcal">
                        <span class="kcal__icon">kcal</span>
                        <span class="kcal__number">400</span>
                    </div>
                </a>
            </li>

            <!-- ITEM -->
            <li class="m-recipes__item recipe">
                <a class="recipe__link" href="" title="Przejdź do przepisu">
                    <div class="recipe__image-wrapper">
                        <img class="recipe__image" src="images/tmp/recipe-4.jpg" alt="Bułeczki drożdżowe  z rodzynkami i żurawiną">
                        <div class="recipe__overlay overlay">
                            <div class="overlay__macro overlay__macro--carbo">
                                <img src="images/icons/icon-carbo-white.svg" alt="Węglowodany" class="macro__icon"><span class="overlay__name">20g węgli</span>
                            </div>
                            <div class="overlay__macro overlay__macro--protein">
                                <img src="images/icons/icon-protein-white.svg" alt="Białka" class="macro__icon"><span class="overlay__name">522g białka</span>
                            </div>
                            <div class="overlay__macro overlay__macro--fat">
                                <img src="images/icons/icon-fat-white.svg" alt="Tłuszcze" class="macro__icon"><span class="overlay__name">4g tłuszczu</span>
                            </div>
                        </div>
                    </div>
                    <h3 class="recipe__title">Bułeczki drożdżowe  z rodzynkami i żurawiną</h3>
                    <div class="kcal">
                        <span class="kcal__icon">kcal</span>
                        <span class="kcal__number">400</span>
                    </div>
                </a>
            </li>

            <!-- ITEM -->
            <li class="m-recipes__item recipe">
                <a class="recipe__link" href="" title="Przejdź do przepisu">
                    <div class="recipe__image-wrapper">
                        <img class="recipe__image" src="images/tmp/recipe-1.jpg" alt="Bułeczki drożdżowe  z rodzynkami i żurawiną">
                        <div class="recipe__overlay overlay">
                            <div class="overlay__macro overlay__macro--carbo">
                                <img src="images/icons/icon-carbo-white.svg" alt="Węglowodany" class="macro__icon"><span class="overlay__name">20g węgli</span>
                            </div>
                            <div class="overlay__macro overlay__macro--protein">
                                <img src="images/icons/icon-protein-white.svg" alt="Białka" class="macro__icon"><span class="overlay__name">522g białka</span>
                            </div>
                            <div class="overlay__macro overlay__macro--fat">
                                <img src="images/icons/icon-fat-white.svg" alt="Tłuszcze" class="macro__icon"><span class="overlay__name">4g tłuszczu</span>
                            </div>
                        </div>
                    </div>
                    <h3 class="recipe__title">Bułeczki drożdżowe  z rodzynkami i żurawiną</h3>
                    <div class="kcal">
                        <span class="kcal__icon">kcal</span>
                        <span class="kcal__number">400</span>
                    </div>
                </a>
            </li>

            <!-- ITEM -->
            <li class="m-recipes__item recipe">
                <a class="recipe__link" href="" title="Przejdź do przepisu">
                    <div class="recipe__image-wrapper">
                        <img class="recipe__image" src="images/tmp/recipe-2.jpg" alt="Bułeczki drożdżowe  z rodzynkami i żurawiną">
                        <div class="recipe__overlay overlay">
                            <div class="overlay__macro overlay__macro--carbo">
                                <img src="images/icons/icon-carbo-white.svg" alt="Węglowodany" class="macro__icon"><span class="overlay__name">20g węgli</span>
                            </div>
                            <div class="overlay__macro overlay__macro--protein">
                                <img src="images/icons/icon-protein-white.svg" alt="Białka" class="macro__icon"><span class="overlay__name">522g białka</span>
                            </div>
                            <div class="overlay__macro overlay__macro--fat">
                                <img src="images/icons/icon-fat-white.svg" alt="Tłuszcze" class="macro__icon"><span class="overlay__name">4g tłuszczu</span>
                            </div>
                        </div>
                    </div>
                    <h3 class="recipe__title">Pizza na cieście bezglutenowym</h3>
                    <div class="kcal">
                        <span class="kcal__icon">kcal</span>
                        <span class="kcal__number">400</span>
                    </div>
                </a>
            </li>

            <!-- ITEM -->
            <li class="m-recipes__item recipe">
                <a class="recipe__link" href="" title="Przejdź do przepisu">
                    <div class="recipe__image-wrapper">
                        <img class="recipe__image" src="images/tmp/recipe-3.jpg" alt="Bułeczki drożdżowe  z rodzynkami i żurawiną">
                        <div class="recipe__overlay overlay">
                            <div class="overlay__macro overlay__macro--carbo">
                                <img src="images/icons/icon-carbo-white.svg" alt="Węglowodany" class="macro__icon"><span class="overlay__name">20g węgli</span>
                            </div>
                            <div class="overlay__macro overlay__macro--protein">
                                <img src="images/icons/icon-protein-white.svg" alt="Białka" class="macro__icon"><span class="overlay__name">522g białka</span>
                            </div>
                            <div class="overlay__macro overlay__macro--fat">
                                <img src="images/icons/icon-fat-white.svg" alt="Tłuszcze" class="macro__icon"><span class="overlay__name">4g tłuszczu</span>
                            </div>
                        </div>
                    </div>
                    <h3 class="recipe__title">Bułeczki drożdżowe  z rodzynkami i żurawiną</h3>
                    <div class="kcal">
                        <span class="kcal__icon">kcal</span>
                        <span class="kcal__number">400</span>
                    </div>
                </a>
            </li>

            <!-- ITEM -->
            <li class="m-recipes__item recipe">
                <a class="recipe__link" href="" title="Przejdź do przepisu">
                    <div class="recipe__image-wrapper">
                        <img class="recipe__image" src="images/tmp/recipe-4.jpg" alt="Bułeczki drożdżowe  z rodzynkami i żurawiną">
                        <div class="recipe__overlay overlay">
                            <div class="overlay__macro overlay__macro--carbo">
                                <img src="images/icons/icon-carbo-white.svg" alt="Węglowodany" class="macro__icon"><span class="overlay__name">20g węgli</span>
                            </div>
                            <div class="overlay__macro overlay__macro--protein">
                                <img src="images/icons/icon-protein-white.svg" alt="Białka" class="macro__icon"><span class="overlay__name">522g białka</span>
                            </div>
                            <div class="overlay__macro overlay__macro--fat">
                                <img src="images/icons/icon-fat-white.svg" alt="Tłuszcze" class="macro__icon"><span class="overlay__name">4g tłuszczu</span>
                            </div>
                        </div>
                    </div>
                    <h3 class="recipe__title">Bułeczki drożdżowe  z rodzynkami i żurawiną</h3>
                    <div class="kcal">
                        <span class="kcal__icon">kcal</span>
                        <span class="kcal__number">400</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <button type="button" class="m-recipes__btn-load-more">więcej przepisów</button>
</section>
