<section class="m-recipes">
    <div class="container">
        <ul class="m-recipes__list">
            <!-- ITEM -->
            <li class="m-recipes__item recipe">
                <a class="recipe__link" href="" title="Przejdź do przepisu">
                    <div class="recipe__image-wrapper">
                        <img class="recipe__image" src="assets/images/tmp/recipe-1.jpg" alt="Bułeczki drożdżowe  z rodzynkami i żurawiną">
                        <div class="recipe__overlay overlay">
                            <div class="overlay__macro overlay__macro--carbo">
                                <i class="icon icon-carbs"></i><span class="overlay__name">20g węgli</span>
                            </div>
                            <div class="overlay__macro overlay__macro--protein">
                                <i class="icon icon-lifting"></i><span class="overlay__name">522g białka</span>
                            </div>
                            <div class="overlay__macro overlay__macro--fat">
                                <i class="icon icon-fat"></i><span class="overlay__name">4g tłuszczu</span>
                            </div>
                        </div>
                    </div>
                    <h3 class="recipe__title">Bułeczki drożdżowe  z rodzynkami i żurawiną</h3>
                    <div class="recipe__meta">
                        <span class="recipe__kcal">kcal</span>
                        <span class="recipe__kcal-number">400</span>
                    </div>
                </a>
            </li>

            <!-- ITEM -->
            <li class="m-recipes__item recipe">
                <a class="recipe__link" href="" title="Przejdź do przepisu">
                    <div class="recipe__image-wrapper">
                        <img class="recipe__image" src="assets/images/tmp/recipe-2.jpg" alt="Bułeczki drożdżowe  z rodzynkami i żurawiną">
                        <div class="recipe__overlay overlay">
                            <div class="overlay__macro overlay__macro--carbo">
                                <i class="icon icon-carbs"></i><span class="overlay__name">20g węgli</span>
                            </div>
                            <div class="overlay__macro overlay__macro--protein">
                                <i class="icon icon-lifting"></i><span class="overlay__name">522g białka</span>
                            </div>
                            <div class="overlay__macro overlay__macro--fat">
                                <i class="icon icon-fat"></i><span class="overlay__name">4g tłuszczu</span>
                            </div>
                        </div>
                    </div>
                    <h3 class="recipe__title">Pizza na cieście bezglutenowym</h3>
                    <div class="recipe__meta">
                        <span class="recipe__kcal">kcal</span>
                        <span class="recipe__kcal-number">150</span>
                    </div>
                </a>
            </li>

            <!-- ITEM -->
            <li class="m-recipes__item recipe">
                <a class="recipe__link" href="" title="Przejdź do przepisu">
                    <div class="recipe__image-wrapper">
                        <img class="recipe__image" src="assets/images/tmp/recipe-3.jpg" alt="Bułeczki drożdżowe  z rodzynkami i żurawiną">
                        <div class="recipe__overlay overlay">
                            <div class="overlay__macro overlay__macro--carbo">
                                <i class="icon icon-carbs"></i><span class="overlay__name">20g węgli</span>
                            </div>
                            <div class="overlay__macro overlay__macro--protein">
                                <i class="icon icon-lifting"></i><span class="overlay__name">522g białka</span>
                            </div>
                            <div class="overlay__macro overlay__macro--fat">
                                <i class="icon icon-fat"></i><span class="overlay__name">4g tłuszczu</span>
                            </div>
                        </div>
                    </div>
                    <h3 class="recipe__title">Bułeczki drożdżowe  z rodzynkami i żurawiną</h3>
                    <div class="recipe__meta">
                        <span class="recipe__kcal">kcal</span>
                        <span class="recipe__kcal-number">800</span>
                    </div>
                </a>
            </li>

            <!-- ITEM -->
            <li class="m-recipes__item recipe">
                <a class="recipe__link" href="" title="Przejdź do przepisu">
                    <div class="recipe__image-wrapper">
                        <img class="recipe__image" src="assets/images/tmp/recipe-4.jpg" alt="Bułeczki drożdżowe  z rodzynkami i żurawiną">
                        <div class="recipe__overlay overlay">
                            <div class="overlay__macro overlay__macro--carbo">
                                <i class="icon icon-carbs"></i><span class="overlay__name">20g węgli</span>
                            </div>
                            <div class="overlay__macro overlay__macro--protein">
                                <i class="icon icon-lifting"></i><span class="overlay__name">522g białka</span>
                            </div>
                            <div class="overlay__macro overlay__macro--fat">
                                <i class="icon icon-fat"></i><span class="overlay__name">4g tłuszczu</span>
                            </div>
                        </div>
                    </div>
                    <h3 class="recipe__title">Bułeczki drożdżowe  z rodzynkami i żurawiną</h3>
                    <div class="recipe__meta">
                        <span class="recipe__kcal">kcal</span>
                        <span class="recipe__kcal-number">1000</span>
                    </div>
                </a>
            </li>

            <!-- ITEM -->
            <li class="m-recipes__item recipe">
                <a class="recipe__link" href="" title="Przejdź do przepisu">
                    <div class="recipe__image-wrapper">
                        <img class="recipe__image" src="assets/images/tmp/recipe-1.jpg" alt="Bułeczki drożdżowe  z rodzynkami i żurawiną">
                        <div class="recipe__overlay overlay">
                            <div class="overlay__macro overlay__macro--carbo">
                                <i class="icon icon-carbs"></i><span class="overlay__name">20g węgli</span>
                            </div>
                            <div class="overlay__macro overlay__macro--protein">
                                <i class="icon icon-lifting"></i><span class="overlay__name">522g białka</span>
                            </div>
                            <div class="overlay__macro overlay__macro--fat">
                                <i class="icon icon-fat"></i><span class="overlay__name">4g tłuszczu</span>
                            </div>
                        </div>
                    </div>
                    <h3 class="recipe__title">Bułeczki drożdżowe  z rodzynkami i żurawiną</h3>
                    <div class="recipe__meta">
                        <span class="recipe__kcal">kcal</span>
                        <span class="recipe__kcal-number">400</span>
                    </div>
                </a>
            </li>

            <!-- ITEM -->
            <li class="m-recipes__item recipe">
                <a class="recipe__link" href="" title="Przejdź do przepisu">
                    <div class="recipe__image-wrapper">
                        <img class="recipe__image" src="assets/images/tmp/recipe-2.jpg" alt="Bułeczki drożdżowe  z rodzynkami i żurawiną">
                        <div class="recipe__overlay overlay">
                            <div class="overlay__macro overlay__macro--carbo">
                                <i class="icon icon-carbs"></i><span class="overlay__name">20g węgli</span>
                            </div>
                            <div class="overlay__macro overlay__macro--protein">
                                <i class="icon icon-lifting"></i><span class="overlay__name">522g białka</span>
                            </div>
                            <div class="overlay__macro overlay__macro--fat">
                                <i class="icon icon-fat"></i><span class="overlay__name">4g tłuszczu</span>
                            </div>
                        </div>
                    </div>
                    <h3 class="recipe__title">Pizza na cieście bezglutenowym</h3>
                    <div class="recipe__meta">
                        <span class="recipe__kcal">kcal</span>
                        <span class="recipe__kcal-number">150</span>
                    </div>
                </a>
            </li>

            <!-- ITEM -->
            <li class="m-recipes__item recipe">
                <a class="recipe__link" href="" title="Przejdź do przepisu">
                    <div class="recipe__image-wrapper">
                        <img class="recipe__image" src="assets/images/tmp/recipe-3.jpg" alt="Bułeczki drożdżowe  z rodzynkami i żurawiną">
                        <div class="recipe__overlay overlay">
                            <div class="overlay__macro overlay__macro--carbo">
                                <i class="icon icon-carbs"></i><span class="overlay__name">20g węgli</span>
                            </div>
                            <div class="overlay__macro overlay__macro--protein">
                                <i class="icon icon-lifting"></i><span class="overlay__name">522g białka</span>
                            </div>
                            <div class="overlay__macro overlay__macro--fat">
                                <i class="icon icon-fat"></i><span class="overlay__name">4g tłuszczu</span>
                            </div>
                        </div>
                    </div>
                    <h3 class="recipe__title">Bułeczki drożdżowe  z rodzynkami i żurawiną</h3>
                    <div class="recipe__meta">
                        <span class="recipe__kcal">kcal</span>
                        <span class="recipe__kcal-number">800</span>
                    </div>
                </a>
            </li>

            <!-- ITEM -->
            <li class="m-recipes__item recipe">
                <a class="recipe__link" href="" title="Przejdź do przepisu">
                    <div class="recipe__image-wrapper">
                        <img class="recipe__image" src="assets/images/tmp/recipe-4.jpg" alt="Bułeczki drożdżowe  z rodzynkami i żurawiną">
                        <div class="recipe__overlay overlay">
                            <div class="overlay__macro overlay__macro--carbo">
                                <i class="icon icon-carbs"></i><span class="overlay__name">20g węgli</span>
                            </div>
                            <div class="overlay__macro overlay__macro--protein">
                                <i class="icon icon-lifting"></i><span class="overlay__name">522g białka</span>
                            </div>
                            <div class="overlay__macro overlay__macro--fat">
                                <i class="icon icon-fat"></i><span class="overlay__name">4g tłuszczu</span>
                            </div>
                        </div>
                    </div>
                    <h3 class="recipe__title">Bułeczki drożdżowe  z rodzynkami i żurawiną</h3>
                    <div class="recipe__meta">
                        <span class="recipe__kcal">kcal</span>
                        <span class="recipe__kcal-number">1000</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <button type="button" class="m-recipes__btn-load-more">więcej przepisów</button>
</section>
