<div class="macro__col macro__col--label">
    <p class="macro__label">Jedna porcja ma:</p>
</div>
<div class="macro__col macro__col--kcal">
    <img src="/images/icons/icon-kcal.svg" alt="Kalorie" class="macro__icon">
    <span class="macro__value"><strong>1200</strong><span class="macro__unit">kcal</span></span>
</div>
<div class="macro__col">
        <img src="/images/icons/icon-carbo.svg" alt="Węglowodany" class="macro__icon">
        <span class="macro__value"><strong>20g</strong> węgli</span>
</div>
<div class="macro__col">
    <img src="/images/icons/icon-protein.svg" alt="Białko" class="macro__icon">
    <span class="macro__value"><strong>52g</strong> białka</span>
</div>
<div class="macro__col">
    <img src="/images/icons/icon-fat.svg" alt="Tłuszcze" class="macro__icon">
    <span class="macro__value"><strong>4g</strong> tłuszczu</span>
</div>
