<div class="macro__col">
    <div class="kcal">
        <span class="kcal__icon">kcal</span>
        <span class="kcal__number">400</span>
    </div>
</div>
<div class="macro__col">
    <i class="icon icon-carbs macro__icon"></i>
    <span class="macro__label"><strong>20g</strong> węgli</span>
</div>
<div class="macro__col">
    <i class="icon icon-lifting macro__icon"></i>
    <span class="macro__label"><strong>52g</strong> białka</span>
</div>
<div class="macro__col">
    <i class="icon icon-fat macro__icon"></i>
    <span class="macro__label"><strong>4g</strong> tłuszczu</span>
</div>
