<article class="m-my-ingridients">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <h2 class="m-my-ingridients__header">Moje składniki</h2>
            </div>
            <div class="col-xs-6 u-align-right">
                <a href="" class="m-my-ingridients__btn-add-ingridient"><span>Dodaj składnik</span></a>
            </div>
        </div>

        <div class="m-my-ingridients__wrapper">
            <div class="m-my-ingridients__list-header row hidden-xs">
                <div class="col-sm-3 col-sm-offset-3 col-md-2 col-md-offset-2">
                    Nazwa odmieniona
                </div>
                <div class="col-sm-4 col-md-3">
                    Producent
                </div>
                <div class="col-md-1 u-align-center visible-lg">
                    Energia
                </div>
                <div class="col-md-1 u-align-center visible-lg">
                    Węglowodany
                </div>
                <div class="col-md-1 u-align-center visible-lg">
                    Białko
                </div>
                <div class="col-md-1 u-align-center visible-lg">
                    Tłuszcz
                </div>
            </div>
            <ul class="m-my-ingridients__list-body">
                <!-- ITEM -->
                <li class="m-my-ingridients__list-item row">
                    <div class="col-sm-3 col-md-2">
                        <a href="" class="m-my-ingridients__list-item--strong">Szpinak</a>
                    </div>
                    <div class="col-sm-3 col-md-2 hidden-xs">
                        <a href="">Szpinak</a>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        Lorem ipsum dolor sit amet
                    </div>
                    <div class="col-md-1 u-align-center visible-lg">
                        <span class="kcal__icon">kcal</span> 1020
                    </div>
                    <div class="col-md-1 u-align-center visible-lg">
                        20g
                    </div>
                    <div class="col-md-1 u-align-center visible-lg">
                        52g
                    </div>
                    <div class="col-md-1 u-align-center visible-lg">
                        4g
                    </div>
                    <div class="col-md-5 col-lg-1 u-align-center u-align-right-md">
                        <a href="" class="btn m-my-ingridients__btn-edit"><i class="icon icon-pencil visible-xs"></i><span class="hidden-xs">Edytuj</span></a>
                    </div>
                </li>
                <!-- ITEM -->
                <li class="m-my-ingridients__list-item row">
                    <div class="col-sm-3 col-md-2">
                        <a href="" class="m-my-ingridients__list-item--strong">Szpinak</a>
                    </div>
                    <div class="col-sm-3 col-md-2 hidden-xs">
                        <a href="">Szpinak</a>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        Lorem ipsum dolor sit amet
                    </div>
                    <div class="col-md-1 u-align-center visible-lg">
                        <span class="kcal__icon">kcal</span> 1020
                    </div>
                    <div class="col-md-1 u-align-center visible-lg">
                        20g
                    </div>
                    <div class="col-md-1 u-align-center visible-lg">
                        52g
                    </div>
                    <div class="col-md-1 u-align-center visible-lg">
                        4g
                    </div>
                    <div class="col-md-5 col-lg-1 u-align-center u-align-right-md">
                        <a href="" class="btn m-my-ingridients__btn-edit"><i class="icon icon-pencil visible-xs"></i><span class="hidden-xs">Edytuj</span></a>
                    </div>
                </li>
                <!-- ITEM -->
                <li class="m-my-ingridients__list-item row">
                    <div class="col-sm-3 col-md-2">
                        <a href="" class="m-my-ingridients__list-item--strong">Szpinak</a>
                    </div>
                    <div class="col-sm-3 col-md-2 hidden-xs">
                        <a href="">Szpinak</a>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        Lorem ipsum dolor sit amet
                    </div>
                    <div class="col-md-1 u-align-center visible-lg">
                        <span class="kcal__icon">kcal</span> 1020
                    </div>
                    <div class="col-md-1 u-align-center visible-lg">
                        20g
                    </div>
                    <div class="col-md-1 u-align-center visible-lg">
                        52g
                    </div>
                    <div class="col-md-1 u-align-center visible-lg">
                        4g
                    </div>
                    <div class="col-md-5 col-lg-1 u-align-center u-align-right-md">
                        <a href="" class="btn m-my-ingridients__btn-edit"><i class="icon icon-pencil visible-xs"></i><span class="hidden-xs">Edytuj</span></a>
                    </div>
                </li>
                <!-- ITEM -->
                <li class="m-my-ingridients__list-item row">
                    <div class="col-sm-3 col-md-2">
                        <a href="" class="m-my-ingridients__list-item--strong">Szpinak</a>
                    </div>
                    <div class="col-sm-3 col-md-2 hidden-xs">
                        <a href="">Szpinak</a>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        Lorem ipsum dolor sit amet
                    </div>
                    <div class="col-md-1 u-align-center visible-lg">
                        <span class="kcal__icon">kcal</span> 1020
                    </div>
                    <div class="col-md-1 u-align-center visible-lg">
                        20g
                    </div>
                    <div class="col-md-1 u-align-center visible-lg">
                        52g
                    </div>
                    <div class="col-md-1 u-align-center visible-lg">
                        4g
                    </div>
                    <div class="col-md-5 col-lg-1 u-align-center u-align-right-md">
                        <a href="" class="btn m-my-ingridients__btn-edit"><i class="icon icon-pencil visible-xs"></i><span class="hidden-xs">Edytuj</span></a>
                    </div>
                </li>
                <!-- ITEM -->
                <li class="m-my-ingridients__list-item row">
                    <div class="col-sm-3 col-md-2">
                        <a href="" class="m-my-ingridients__list-item--strong">Szpinak</a>
                    </div>
                    <div class="col-sm-3 col-md-2 hidden-xs">
                        <a href="">Szpinak</a>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        Lorem ipsum dolor sit amet
                    </div>
                    <div class="col-md-1 u-align-center visible-lg">
                        <span class="kcal__icon">kcal</span> 1020
                    </div>
                    <div class="col-md-1 u-align-center visible-lg">
                        20g
                    </div>
                    <div class="col-md-1 u-align-center visible-lg">
                        52g
                    </div>
                    <div class="col-md-1 u-align-center visible-lg">
                        4g
                    </div>
                    <div class="col-md-5 col-lg-1 u-align-center u-align-right-md">
                        <a href="" class="btn m-my-ingridients__btn-edit"><i class="icon icon-pencil visible-xs"></i><span class="hidden-xs">Edytuj</span></a>
                    </div>
                </li>
                <!-- ITEM -->
                <li class="m-my-ingridients__list-item row">
                    <div class="col-sm-3 col-md-2">
                        <a href="" class="m-my-ingridients__list-item--strong">Szpinak</a>
                    </div>
                    <div class="col-sm-3 col-md-2 hidden-xs">
                        <a href="">Szpinak</a>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        Lorem ipsum dolor sit amet
                    </div>
                    <div class="col-md-1 u-align-center visible-lg">
                        <span class="kcal__icon">kcal</span> 1020
                    </div>
                    <div class="col-md-1 u-align-center visible-lg">
                        20g
                    </div>
                    <div class="col-md-1 u-align-center visible-lg">
                        52g
                    </div>
                    <div class="col-md-1 u-align-center visible-lg">
                        4g
                    </div>
                    <div class="col-md-5 col-lg-1 u-align-center u-align-right-md">
                        <a href="" class="btn m-my-ingridients__btn-edit"><i class="icon icon-pencil visible-xs"></i><span class="hidden-xs">Edytuj</span></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
