<article class="m-recipe">
    <div class="container">
        <!-- SOCIAL MEDIA BUTTONS -->
        <div class="m-recipe__links">
            <ul class="m-recipe__links-list">
                <li class="m-recipe__links-item m-recipe__links-item--add-to-favorites">
                    <a class="m-recipe__links-link" href=""><i class="icon icon-heart"></i></a>
                </li>
                <li class="m-recipe__links-item m-recipe__links-item--facebook">
                    <a class="m-recipe__links-link" href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li class="m-recipe__links-item m-recipe__links-item--pinterest">
                    <a class="m-recipe__links-link" href=""><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>

        <h1 class="m-recipe__title">Burger z burakiem i karmelizowaną cebulą</h1>

        <div class="m-recipe__macro macro">
            <!-- partial:_macro-bar.html -->MACRO BAR<!-- partial -->
        </div>

        <div class="row">
            <div class="col-sm-6 m-recipe__content">
                <div class="m-recipe__portions portions">
                    <button type="button" class="portions__btn-add"><i class="icon icon-plus"></i></button>
                    <span class="portions__count">
                        <span class="portions__value">2</span> porcje
                    </span>
                    <button type="button" class="portions__btn-delete"><i class="icon icon-minus"></i></button>
                </div>

                <!-- SKŁADNIKI - GRUPA 1 -->
                <section class="m-recipe__section">
                    <h2 class="m-recipe__subtitle">Składniki na ciasto</h2>
                    <dl class="m-recipe__list list">
                        <div class="list__item">
                            <dt class="list__term">12 kcal</dt>
                            <dd class="list__description">1/2 paczki mrożonego szpinaku (lepszy jest ten w bryłkach)</dd>
                        </div>
                        <div class="list__item">
                            <dt class="list__term">120 kcal</dt>
                            <dd class="list__description">4-6 łyżek mąki kokosowej</dd>
                        </div>
                        <div class="list__item">
                            <dt class="list__term">50 kcal</dt>
                            <dd class="list__description">1/2 łyżeczki sody oczyszczonej</dd>
                        </div>
                        <div class="list__item">
                            <dt class="list__term">120 kcal</dt>
                            <dd class="list__description">4-6 łyżek mąki kokosowej</dd>
                        </div>
                        <div class="list__item">
                            <dt class="list__term">50 kcal</dt>
                            <dd class="list__description">1/2 łyżeczki sody oczyszczonej</dd>
                        </div>
                    </dl>
                </section>

                <!-- SKŁADNIKI - GRUPA 2 -->
                <section class="m-recipe__section">
                    <h2 class="m-recipe__subtitle">Skłądniki na ciasto</h2>
                    <dl class="m-recipe__list list">
                        <div class="list__item">
                            <dt class="list__term">12 kcal</dt>
                            <dd class="list__description">185ml wody</dd>
                        </div>
                        <div class="list__item">
                            <dt class="list__term">120 kcal</dt>
                            <dd class="list__description">185ml wody</dd>
                        </div>
                        <div class="list__item">
                            <dt class="list__term">50 kcal</dt>
                            <dd class="list__description">185ml wody</dd>
                        </div>
                    </dl>
                </section>

                <section class="m-recipe__section m-recipe__summary">
                    <p class="m-recipe__summary-title">Cały przepis ma:</h4>
                    <ul class="m-recipe__summary-list">
                        <li class="m-recipe__summary-list-item">2000 kcal</li>
                        <li class="m-recipe__summary-list-item">30g węgli</li>
                        <li class="m-recipe__summary-list-item">50g białka</li>
                        <li class="m-recipe__summary-list-item">30g tluszczu</li>
                    </ul>
                </section>

                <section class="m-recipe__section u-spacing-top-lg">
                    <ol class="m-recipe__steps steps">
                        <li class="steps__item">To make the pancake batter, put the coconut into a blender and blitz for 1 minute or until it becomes finely chopped. Add the flour and baking powder and pulse for a couple of seconds to combine. Pour into a mixing bowl.</li>
                        <li class="steps__item">To make the pancake batter, put the coconut into a blender and blitz for 1 minute or until it becomes finely chopped. Add the flour and baking powder and pulse for a couple of seconds to combine. Pour into a mixing bowl.</li>
                        <li class="steps__item">To make the pancake batter, put the coconut into a blender and blitz for 1 minute or until it becomes finely chopped. Add the flour and baking powder and pulse for a couple of seconds to combine. Pour into a mixing bowl.</li>
                        <li class="steps__item">To make the pancake batter, put the coconut into a blender and blitz for 1 minute or until it becomes finely chopped. Add the flour and baking powder and pulse for a couple of seconds to combine. Pour into a mixing bowl.</li>
                    </ol>
                </section>

                <section class="m-recipe__section">
                    <ul class="m-recipe__tags">
                        <li class="tag">
                            <a class="tag__link" href="">Deser</a>
                        </li>
                        <li class="tag">
                            <a class="tag__link"href="">Dania główne</a>
                        </li>
                        <li class="tag">
                            <a class="tag__link" href="">Pizza</a>
                        </li>
                    </ul>
                </section>
            </div>

            <div class="col-sm-6">
                <section>
                    <ul class="m-recipe__photos photos">
                        <li class="photos__item">
                            <a href="" class="photos__link">
                                <img class="photos__image" src="images/tmp/recipe-1.jpg" alt="Zdjęcje nr 1">
                            </a>
                        </li>
                        <li class="photos__item">
                            <a href="" class="photos__link">
                                <img class="photos__image" src="images/tmp/recipe-2.jpg" alt="Zdjęcje nr 2">
                            </a>
                        </li>
                        <li class="photos__item">
                            <a href="" class="photos__link">
                                <img class="photos__image" src="images/tmp/recipe-3.jpg" alt="Zdjęcje nr 3">
                            </a>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>

    <div class="m-recipe__title-bar title-bar">
        <div class="row">
            <div class="col-sm-7 col-md-5">
                <p class="title-bar__title">Burger z burakiem i karmelizowaną cebulą</p>
            </div>
            <div class="col-sm-5 col-md-7">
                <div class="title-bar__macro macro">
                    <!-- partial:_macro-bar.html -->MACRO BAR<!-- partial -->
                </div>
            </div>
        </div>
    </div>
</article>
