<div class="m-tags">
    <div class="container">
        <ul class="m-tags__list">
            <li class="tag">
                <a class="tag__link" href="">Deser</a>
            </li>
            <li class="tag">
                <a class="tag__link"href="">Dania główne</a>
            </li>
            <li class="tag">
                <a class="tag__link" href="">Pizza</a>
            </li>
            <li class="tag">
                <a class="tag__link" href="">Dieta bezglutenowa</a>
            </li>
            <li class="tag">
                <a class="tag__link" href="">1000 kalorii</a>
            </li>
            <li class="tag">
                <a class="tag__link" href="">Pizza</a>
            </li>
            <li class="tag">
                <a class="tag__link" href="">Dieta paleo</a>
            </li>
            <li class="tag">
                <a class="tag__link" href="">1000 kalorii</a>
            </li>
        </ul>
    </div>
</div>
