<article class="m-user-panel">

    <div class="container">
        <h1 class="m-user-panel__title">Edytuj profil</h1>

        <div class="row">
            <div class="col-md-3">
                <img src="http://via.placeholder.com/263x263" alt="Zdjęcie profilowe">
                <form action="" method="post">
                    <a href="" class="m-user-panel__change-photo"><i class="icon icon-camera"></i> Zmień zdjęcie</a>
                    <a href="" class="m-user-panel__remove-photo"><i class="icon icon-trash"></i> Usuń</a>
                </form>
            </div>
            <div class="col-md-6">
                <form action="post">
                    <div class="input-wrapper">
                        <label for="username">Nazwa użytkownika</label>
                        <input type="text" name="username" id="username" value="Stefan">
                    </div>
                    <div class="input-wrapper">
                        <label for="email">Adres e-mail</label>
                        <input type="text" name="email" id="email" value="stefan@gmail.com">
                    </div>
                    <div class="input-wrapper">
                        <label for="current-password">Obecne hasło</label>
                        <input type="text" name="current-password" id="current-password">
                    </div>
                    <div class="input-wrapper">
                        <label for="new-password">Nowe hasło</label>
                        <input type="text" name="new-password" id="new-password">
                    </div>
                    <div class="input-wrapper">
                        <label for="repeat-password">Powtórz hasło</label>
                        <input type="text" name="repeat-password" id="repeat-password">
                    </div>

                    <button class="m-user-panel__submit">Zapisz zmiany</button>
                </form>
            </div>
            <div class="col-md-3">
                <section>
                    <div class="m-user-panel__heading m-user-panel__heading--recipes"><span class="m-user-panel__heading-number">21</span> Recipes added</div>
                    <ul class="m-user-panel__list">
                        <li class="m-user-panel__list-item row">
                            <div class="col-md-5">
                                <img src="http://via.placeholder.com/100x57" alt="Bułeczki drożdżowe  z rodzynkami i żurawiną">
                            </div>
                            <div class="col-md-7">
                                <p class="m-user-panel__list-item-title">Bułeczki drożdżowe  z rodzynkami i żurawiną</p>
                            </div>
                        </li>
                        <li class="m-user-panel__list-item row">
                            <div class="col-md-5">
                                <img src="http://via.placeholder.com/100x57" alt="Bułeczki drożdżowe  z rodzynkami i żurawiną">
                            </div>
                            <div class="col-md-7">
                                <p class="m-user-panel__list-item-title">Bułeczki drożdżowe  z rodzynkami i żurawiną</p>
                            </div>
                        </li>
                    </ul>
                </section>
                <section>
                    <div class="m-user-panel__heading m-user-panel__heading--ingridients"><span class="m-user-panel__heading-number">21</span> Recipes added</div>
                </section>
                <section>
                    <div class="m-user-panel__heading m-user-panel__heading--recipes"><span class="m-user-panel__heading-number">21</span> Favorites recipes</div>
                    <ul class="m-user-panel__list">
                        <li class="m-user-panel__list-item row">
                            <div class="col-md-5">
                                <img src="http://via.placeholder.com/100x57" alt="Wege in fall">
                            </div>
                            <div class="col-md-7">
                                <p class="m-user-panel__list-item-title">Wege in fall</p>
                                <p class="m-user-panel__list-item-description">34 recipes</p>
                            </div>
                        </li>
                        <li class="m-user-panel__list-item row">
                            <div class="col-md-5">
                                <img src="http://via.placeholder.com/100x57" alt="Wege in fall">
                            </div>
                            <div class="col-md-7">
                                <p class="m-user-panel__list-item-title">Wege in fall</p>
                                <p class="m-user-panel__list-item-description">34 recipes</p>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>

</article>
