<div class="m-popup m-register visible">
    <button type="button" class="m-popup__close">Zamknij</button>

    <h1 class="m-popup__header">
        <img class="m-popup__logo" src="images/logo/logo-symbol-black.svg" alt="Makro Składniki - logo">
    </h1>

    <div class="m-register__content u-align-center">
        <p>Sprawdź e-mail!</p>
        <p>Na adres <strong>kamool@o2.pl</strong> wysłano wiadomość e-mail  z linkiem aktywacyjnym.</p>
        <p>Kliknij w link, aby aktrywować konto.</p>

        <img src="images/icons/icon-email-sent.svg" alt="" class="m-register__welcome-icon">
    </div>

    <footer class="m-popup__footer footer">
        <div class="row">
            <div class="col-xs-6">
                <span class="footer__text footer__text--small">Email nie dotarł?</span>
            </div>
            <div class="col-xs-6">
                <a href="" class="footer__link footer__link--small">Prześlij jeszcze raz</a>
            </div>
        </div>
    </footer>
</div>
