<div class="m-popup m-register visible">
    <button type="button" class="m-popup__close">Zamknij</button>

    <h1 class="m-popup__header">
        <img class="m-popup__logo" src="images/logo/logo-symbol-black.svg" alt="Makro Składniki - logo">
    </h1>

    <div class="m-register__content u-align-center">
        <p>Witaj w Makro Przepisy!</p>
        <p>Curabitur auctor odio vitae dui hendrerit dapibus. Quisque pulvinar, arcu vitae dapibus ultricies, mi augue interdum dolor, id facilisis massa mauris et tortor.</p>

        <img src="images/icons/icon-welcome.svg" alt="" class="m-register__welcome-icon">

        <a class="btn btn--inverse m-register__start" href="">Zaczynamy</a>
    </div>
</div>
