// MAKRO ICONS
@font-face {
  font-family: 'makro-icons';
  src:  url('../fonts/makro-icons/makro_icons.eot?lhiz2i');
  src:  url('../fonts/makro-icons/makro_icons.eot?lhiz2i#iefix') format('embedded-opentype'),
    url('../fonts/makro-icons/makro_icons.ttf?lhiz2i') format('truetype'),
    url('../fonts/makro-icons/makro_icons.woff?lhiz2i') format('woff'),
    url('../fonts/makro-icons/makro_icons.svg?lhiz2i#makro_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

// MULI FONT
@font-face {
    font-family: 'mulibold';
    src: url('../fonts/muli/muli-bold.woff2') format('woff2'),
         url('../fonts/muli/muli-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mulibolditalic';
    src: url('../fonts/muli/muli-bolditalic.woff2') format('woff2'),
         url('../fonts/muli/muli-bolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'muliextralight';
    src: url('../fonts/muli/muli-extralight.woff2') format('woff2'),
         url('../fonts/muli/muli-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'muliextralightitalic';
    src: url('../fonts/muli/muli-extralightitalic.woff2') format('woff2'),
         url('../fonts/muli/muli-extralightitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'muliregularitalic';
    src: url('../fonts/muli/muli-italic.woff2') format('woff2'),
         url('../fonts/muli/muli-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mulilight';
    src: url('../fonts/muli/muli-light.woff2') format('woff2'),
         url('../fonts/muli/muli-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mulilightitalic';
    src: url('../fonts/muli/muli-lightitalic.woff2') format('woff2'),
         url('../fonts/muli/muli-lightitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mulisemibolditalic';
    src: url('../fonts/muli/muli-semi-bolditalic.woff2') format('woff2'),
         url('../fonts/muli/muli-semi-bolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mulisemibold';
    src: url('../fonts/muli/muli-semibold.woff2') format('woff2'),
         url('../fonts/muli/muli-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'muliregular';
    src: url('../fonts/muli/muli.woff2') format('woff2'),
         url('../fonts/muli/muli.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
