.m-header {
    padding: 70px 0 30px;
    background-color: $color-black;
    position: relative;
    overflow: hidden;

    @media(min-width: $screen-sm) {
        padding: 76px 0 40px;
    }

    @media(min-width: $screen-md) {
        padding: 100px 0 48px;
    }

    &__content {
        position: relative;
        z-index: 1;
    }

    &::before {
        content: '';
        width: 592px;
        height: calc(100% - 52px);
        position: absolute;
        bottom: 0;
        left: -250px;
        background: url('../images/header/bg-left.jpg') no-repeat;
        z-index: 0;

        @media(min-width: 1440px) {
            left: -370px;
        }

        @media(min-width: 1440px) {
            left: -100px;
        }
    }

    @media(min-width: $screen-md) {
        &::after {
            content: '';
            width: 616px;
            height: calc(100% - 52px);
            position: absolute;
            bottom: 0;
            right: -370px;
            background: url('../images/header/bg-right.jpg') no-repeat;
            z-index: 0;
        }
    }

    @media(min-width: $screen-lg) {
        &::after {
            right: -270px;
        }
    }

    @media(min-width: 1440px) {
        &::after {
            right: -120px;
        }
    }

    &__title {
        font-size: 1.7rem;
        line-height: 1.4;
        font-family: mulibold;
        color: $color-white;
        text-transform: uppercase;
        text-align: center;
        max-width: 768px;
        margin: 5px auto;

        @media(min-width: $screen-sm) {
            font-size: 2.3rem;
        }

        @media(min-width: $screen-md) {
            font-size: 3.2rem;
        }
    }

    .search {
        margin: 20px auto 0;
        border-radius: 3px;
        overflow: hidden;

        @media(min-width: $screen-sm) {
            width: 468px;
        }

        @media(min-width: $screen-md) {
            margin-top: 40px;
        }

        &__wrapper {
            height: 38px;
            position: relative;
            width: 90%;
            margin: auto;

            @media(min-width: $screen-sm) {
                width: 468px;
            }

            &::before {
                content: '\e9a2';
                font-family: 'makro-icons';
                font-size: 1.5rem;
                position: absolute;
                top: 4px;
                left: 10px;
            }
        }

        &__keyword {
            background-color: $color-white;
            border: none;
            width: 100%;
            height: 38px;
            padding: 8px 12px 8px 40px;
            display: block;
            float: left;
            outline: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            @media(min-width: $screen-sm) {
                width: 366px;
            }
        }

        &__btn-submit {
            background-color: $color-white;
            border: none;
            border-left: 1px solid $color-black;
            width: 102px;
            height: 38px;
            display: block;
            float: left;
            transition: all .2s;
            outline: none;
            display: none;

            &:focus,
            &:hover {
                background-color: lighten($color-black, 20%);
                color: $color-white;
            }

            @media(min-width: $screen-sm) {
                display: block;
            }
        }
    }

}
