.m-navbar {
    position: fixed;
    z-index: 2;
    background: $color-white;
    width: 100%;
    height: 52px;
    transition: height .3s;

    @media(min-width: $screen-sm) {
        height: auto;
    }

    &.open {
        height: 100%;

        .menu {
            display: block;
        }
    }

    .brand {
        margin-top: 6px;
        padding-right: 10px;
        position: relative;
        width: 100%;

        @media(min-width: $screen-sm) {
            float: left;
            width: auto;
        }

        &__link {
            display: inline-block;
        }

        &__image {
            display: inline-block;
        }
    }

    .toggle-menu {
        background: transparent;
        border: none;
        outline: none;

        &::before {
            font-family: 'makro-icons';
            content: '\e932';
            font-size: 1.6rem;
            position: absolute;
            top: 6px;
            left: 35px;
            transition: transform .2s;
        }

        &.collapsed {
            &::before {
                transform: rotate(-180deg);
            }
        }

        @media(min-width: $screen-sm) {
            display: none;
        }
    }

    .search {
        float: left;
        padding: 17px 10px;
        border-left: 1px solid $color-cool-gray;

        &__form {
            position: relative;
        }

        &__submit {
            background: transparent;
            border: none;
            position: absolute;
            top: -6px;
            left: 0;
            font-size: 1.4rem;
        }

        &__input {
            border: none;
            padding-left: 40px;
            font-size: .8rem;
            outline: none;
            width: 150px;

            @media(min-width: $screen-sm) {
                width: 300px;
            }
        }
    }

    .menu {
        padding: 12px 0;
        display: none;

        @media(min-width: $screen-sm) {
            float: right;
            display: block;
        }

        &__list {
            margin: 0;
        }

        &__item {
            display: block;
            margin: 10px;

            @media(min-width: $screen-sm) {
                display: inline-block;
                margin: 0 22px;
            }
        }
    }

    .account {
        padding: 6px 0 0;

        &__notifications-link {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: $color-pale-gray;
            float: left;
            margin-right: 20px;

            .icon-heart {
                font-size: 1.6rem;
                display: inline-block;
                margin-top: 4px;
                margin-left: -2px;
            }
        }

        &__notifications-count {
            width: 18px;
            height: 18px;
            background: $color-black;
            border-radius: 50%;
            position: absolute;
            top: 16px;
            left: 16px;
            font-size: .7rem;
            color: $color-white;
            text-align: center;
        }

        &__profile-link {
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;

            &:focus,
            &:hover {
                .account__profile-image {
                    transform: scale(1.2);
                }
            }
        }

        &__profile-image {
            display: inline-block;
            transition: all .1s;
        }
    }
}
