.m-recipe {
    padding: 100px 0 80px;

    &__title {
        font-family: mulisemibold;
        font-size: 2rem;
        text-transform: uppercase;
        line-height: 1.3;
        margin: 5px 0 15px;

        @media(min-width: $screen-md) {
            font-size: 2.2rem;
            margin: 0;
        }
    }

    &__subtitle {
        font-family: mulisemibold;
        font-size: 1.4rem;
    }

    .portions {
        @media(min-width: $screen-md) {
            margin-top: 40px;
        }

        &__count {
            margin: 0 10px;
        }

        &__btn-add,
        &__btn-delete {
            background: transparent;
            border: 1px solid $color-cool-gray;
            width: 30px;
            height: 30px;

            &:focus,
            &:hover {
                background: $color-pale-gray;
                border: 1px solid $color-pale-gray;
            }

            .icon {
                display: block;
                padding-top: 2px;
            }
        }
    }

    &__section {
        margin-bottom: 25px;
        overflow: hidden;
    }

    .list {
        &__item {
            border-bottom: 1px solid $color-cool-gray;
            padding: 10px 0;
            overflow: hidden;
        }

        &__term {
            float: left;
            width: 20%;
            font-family: muliregular;
            color: $color-cool-gray;
            font-weight: normal;

            @media(min-width: $screen-md) {
                width: 12%;
            }
        }

        &__description {
            float: left;
            width: 80%;

            @media(min-width: $screen-md) {
                width: 88%;
            }
        }
    }

    .steps {
        counter-reset: counter;
        padding: 0;

        &__item {
            position: relative;
            border: none;
            margin: 0 0 25px 0;

            @media(min-width: $screen-sm) {
                border-left: 1px solid $color-cool-gray;
                margin: 0 0 25px 30px;
                padding-left: 10px;
            }

            &::before {
                content: counter(counter);
                counter-increment: counter;
                font-family: mulibold;
                font-size: 1.4rem;
                line-height: 1;
                display: block;
                margin-bottom: 15px;
                padding-bottom: 15px;
                border-bottom: 1px solid $color-cool-gray;
                width: 62px;

                @media(min-width: $screen-sm) {
                    position: absolute;
                    top: 0;
                    left: -30px;
                    margin: 0;
                    padding: 0;
                    width: auto;
                    border-bottom: none;
                }
            }
        }
    }

    &__tags {
        @media(min-width: $screen-sm) {
            margin-left: 10px;
        }
    }

    .macro {
        background: $color-pale-gray;
        overflow: hidden;
        padding: 10px 0 6px;
        margin: 10px 0 20px;

        @media(min-width: $screen-md) {
            margin: 0;
        }

        &__col {
            display: inline-block;
            width: 25%;
            padding: 0 12px;
            text-align: center;

            @media(min-width:$screen-sm) {
                padding: 0 0 0 50px;
            }


            @media(min-width:$screen-lg) {
                padding: 0 0 0 20px;
            }

            &:first-child {
                width: 20%;
                border-right: 1px solid $color-cool-gray;
                position: relative;

                @media(min-width:$screen-sm) {
                    padding-left: 30px;
                    width: 19%;
                }

                @media(min-width:$screen-md) {
                    width: 20%;
                }

                @media(max-width: $screen-xs-max) {
                    float: left;
                    padding: 12px;
                    margin-top: 6px;
                    height: 38px;

                    .kcal {
                        &__icon {
                            border: none;
                            font-size: 1rem;
                            position: absolute;
                            bottom: -3px;
                            left: 4px;
                            right: 0;
                            margin: auto;
                        }

                        &__number {
                            position: absolute;
                            bottom: 15px;
                            font-family: mulibold;
                            width: 75%;
                            text-align: center;
                            margin: 0;
                        }
                    }
                }
            }

            strong {
                display: block;

                @media(min-width: $screen-sm) {
                    display: inline;
                }
            }
        }

        &__icon {
            font-size: 2rem;
            float: left;
            margin-right: 4px;
            display: none;

            @media(min-width: $screen-sm) {
                display: block;
            }
        }

        &__label {
            float: left;
            margin: 4px 0 0 5px;
        }
    }

    .photos {
        &__image {
            width: 100%;
            transition: transform .2s;
        }

        &__link {
            margin-bottom: 30px;
            display: inline-block;
            overflow: hidden;

            &:focus,
            &:hover {
                .photos__image {
                    transform: scale(1.1);
                }
            }
        }
    }
}
