.m-user-panel {
    padding: 80px 0;

    &__avatar {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;

        &-img {
            margin-bottom: 20px;
            display: block;

            @media( max-width: $screen-xs-max) {
                width: 100%;
            }
        }
    }

    &__form {
        @media (max-width: $screen-sm-max) {
            margin: 30px 0;
        }
    }

    &__change-photo {
        font-weight: normal;
        display: block;
        cursor: pointer;
    }

    &__change-photo,
    &__remove-photo {
        transition: all .2s;

        &:focus,
        &:hover {
            text-decoration: none;
            color: $color-cool-gray;
        }

        .icon {
            font-size: 1.1rem;
            margin-right: 3px;
        }
    }

    .input-wrapper {
        &__label {
            font-size: 1.15rem;
            margin: 0 0 10px;
            font-family: 'mulisemibold';
        }

        &__input {
            margin: 0 0 25px;
        }
    }

    &__submit {
        text-transform: none;
    }

    &__heading {
        background-color: $color-black;
        color: $color-white;
        margin-bottom: 12px;
        height: 80px;
        line-height: 60px;
        padding: 0 16px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            opacity: .4;
            width: 59px;
            height: 59px;
        }

        &--recipes {
            &:after {
                background: url('../images/user-panel/recipes.svg') no-repeat;
            }
        }

        &--ingridients {
            &:after {
                background: url('../images/user-panel/ingridients.svg') no-repeat;
            }
        }

        &--favorites {
            &:after {
                background: url('../images/user-panel/favorites.svg') no-repeat;
            }
        }

        &-number {
            font-size: 40px;
            font-family: 'mulibold';
            display: inline-block;
            vertical-align: middle;
            margin-top: 10px;
        }

        &-title {
            margin: 14px 0 0 10px;
            line-height: 18px;
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__list {
        &-item {
            margin-bottom: 12px;
            font-family: 'mulisemibold';

            &-title {
                line-height: 18px;
                margin: 0;
            }

            &-description {
                font-size: 12px;
            }
        }
    }

    &__favorites {
        .m-user-panel__list-item-title {
            margin-top: 10px;
        }
    }

    &__recipes,
    &__ingridientes,
    &__favorites {
        .col-xs-5 {
            padding-right: 0;
        }

        img {
            width: 100%;
        }
    }
}
